page-login {
  #lang {
    margin-top: 30px;
    display: inline-block;
    margin-left: 80%;
    #input_lang {
      background: #213140;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      width: 100%;
      display: inline-block;
      font-size: 17px;
      font-weight: 800;
    }
    h3 {
      display: inline;
    }
    form {
      display: inline-block;
    }
  }
  
  .login-content {
    background: #213140;
    .loginApp {
      margin-top: 30px;
      margin-bottom: 30px;
      color: #f57e20;
      font-weight: 300;
      font-size: 45px;
    }
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    .login-box {
      //background: #399F8B;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
    ion-row {
      align-items: center;
      text-align: center;
    }
    ion-item {
      border-radius: 6px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #4E5B66;
      background: #4E5B66;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }
    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }
    .item-inner {
      border-bottom-color: #999999 !important;
      box-shadow: none !important;
    }
    .submit-btn {
      background: color($colors, btnOrange);
      border-radius: 6px !important;
      border: 5px solid color($colors, btnOrange);
    }
  }
  #footer {
    color: rgb(128, 140, 152);
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    margin-top: 70px;
  }
  #slogan_live {
    font-family: Pacifico !important;
    color: #f57e20;
  }
}
