<ion-header>
  <!-- Defining the language of the application -->
  <div id="lang">
    <form method="GET" id="form_lang">
      <ion-input id="input_lang" value="PT" type="submit"></ion-input>
    </form>
    <h3>|</h3>
    <form method="GET" id="form_lang">
      <ion-input id="input_lang" value="EN" type="submit"></ion-input>
    </form>
  </div>
</ion-header>

<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-70>
      <img src="../../assets/img/letrasbrancas.png" let/>
    </ion-col>
    <ion-col class="loginApp">
      <h2>POS.app</h2>
    </ion-col>
  </ion-row>
  
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="text" placeholder="Email" name="username" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
        </ion-col>
      </ion-row>

    </form>
  </div>

  <ion-item>
    <button ion-button (click)="showConfirm()">SAIR</button>
  </ion-item>


  <h5 class="contact_us">Need help?
    <a id="contact_link" href="https://www.last2ticket.com/en/terms#contactSalesForm" style="color:white">Contact us</a>.</h5>
  
  <div id="footer">
    <h5 id="info_powered">Powered by Last2Ticket. All rights reserved.</h5>
    <h4 id="slogan">The way
      <span id="slogan_live">
        to live
      </span>
      your event.
    </h4>
  </div>

  <ion-fab bottom left #fab style="size: 10px">
    <button ion-fab>Share</button>
    <ion-fab-list side="top">
      <button ion-fab (click)="share('facebook', fab)">Facebook</button>
      <button ion-fab (click)="share('twitter', fab)">Twitter</button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
