<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="property-list">

  <ion-list *ngIf="viewMode==='list'">

    <ion-item-sliding *ngFor="let property of properties">
      <button ion-item (click)="openPropertyDetail(property)">
        <ion-thumbnail item-left>
          <img src="{{property.thumbnail}}" />
        </ion-thumbnail>
        <h2>{{property.title}}</h2>
        <p>{{property.city}}, {{property.state}} ∙ {{ property.price }}</p>
      </button>
      <ion-item-options>
        <button danger (click)="deleteItem(property)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <div *ngIf="viewMode==='map'" style="width:100%;height:100%;" id="map"></div>

  <div *ngIf="viewMode==='home'" id="home">

    <ion-chip>
      <ion-label>Default</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-label color="secondary">Secondary Label</ion-label>
    </ion-chip>

    <ion-chip color="secondary">
      <ion-label color="dark">Secondary w/ Dark label</ion-label>
    </ion-chip>

    <ion-chip color="danger">
      <ion-label>Danger</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-icon name="pin"></ion-icon>
      <ion-label>Default</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-icon name="heart" color="dark"></ion-icon>
      <ion-label>Default</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-avatar>
        <img src="assets/img/my-img.png">
      </ion-avatar>
      <ion-label>Default</ion-label>
    </ion-chip>
  </div>

</ion-content>

<ion-footer padding>
  <ion-segment [(ngModel)]="viewMode">
    <ion-segment-button value="list">
      <ion-icon name="list"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map" (ionSelect)="showMap()">
      <ion-icon name="map"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="home">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
