/*
Copyright (c) 2011, Vernon Adams (vern@newtypography.co.uk),
with Reserved Font Name Pacifico.

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/

$Pacifico-font-path: $font-path !default;

@font-face {
  font-family: "Pacifico";
  src: url("#{$Pacifico-font-path}/Pacifico.ttf?v=#{$Pacifico-version}") format("truetype");
  font-weight: normal;
  font-style: normal;
}
