<ion-header>
    <ion-navbar>
        <ion-title>Broker</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="broker">

    <ion-card>

        <ion-card-content>
            <img src="{{broker.picture}}"/>
            <h2>{{broker.name}}</h2>
            <h3>{{broker.title}}</h3>
            <h4>Outra Informação</h4>
        </ion-card-content>

        <ion-list>
            <a href="tel:{{broker.Phone__c}}" ion-item>
                <ion-icon name="call" item-left></ion-icon>
                <p>Call Office</p>
                <h2>{{broker.phone}}</h2>
            </a>
            <a href="tel:{{broker.phone}}" ion-item>
                <ion-icon name="call" item-left></ion-icon>
                <p>Call Mobile</p>
                <h2>{{broker.mobilePhone}}</h2>
            </a>
            <a href="tel:{{broker.phone}}" ion-item>
                <ion-icon name="text" item-left></ion-icon>
                <p>Text</p>
                <h2>{{broker.mobilePhone}}</h2>
            </a>
            <a href="mailto:{{broker.email}}" ion-item>
                <ion-icon name="mail" item-left></ion-icon>
                <p>Email</p>
                <h2>{{broker.email}}</h2>
            </a>
        </ion-list>

    </ion-card>

</ion-content>
