<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Brokers</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let broker of brokers" (click)="openBrokerDetail(broker)">
            <ion-avatar item-left>
                <img src="{{broker.picture}}"/>
            </ion-avatar>
            <h2>{{broker.name}}</h2>
            <p>{{broker.title}}</p>
        </button>
    </ion-list>
</ion-content>
